.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8vh;
  background-color: black;
  color: white;
  text-align: center;
}

.btn-row {
  width: 11%;
  margin-bottom: 1%;
}

.navbar {
  height: 10vh;
  margin-bottom: 2%;
}

.navbar-brand {
  padding-left: 5%;
}

.form-group {
  padding: 2%;
}

.sub-btn {
  margin-top: 10px;
  margin-left: 10px;
}

.cont {
  padding: 2%;
}

.content {
  font-size: 1.2em;
  width: 30vw;
  display: flex;
  padding: 1%;
  gap: 10px;
}

.disp {
  padding: 2%;
}